<h2 class="mx-5 my-2">Info</h2>
<div class="mx-5 my-2">
    <p>Platform: {{data.platform}}</p>
    <p>nodeVersion: {{data.nodeVersion}}</p>
    <p>memoryUsage: {{data.memoryUsage}}</p>
    <p>execPath: {{data.execPath}}</p>
    <p>pid: {{data.pid}}</p>
    <p>directory: {{data.directory}}</p>
</div>